BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
ColumnLimit: 150
AllowShortFunctionsOnASingleLine: Empty
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: All
IndentCaseLabels: true
